#main-heading {
    color: blue;
    text-align: center;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: navy;
}

.ingressi {
    font-size: 1.1em;
    margin: 10px auto;
    border: 2px solid red;
    padding: 10px 20px;
    width: 80%;
}

.korostus {
color: red;
font-style: italic;
}

.linkit li {
    display: inline-block;
}